{% extends "portal/base.html" %}

{% block content %}


    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>All Masajid</h2>
            </div>
            <!-- Basic Example -->
            <div class="row clearfix">
                {% for masjid in masajid %}
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="card">
                            <div class="header bg-cyan">
                                <h2>
                                    {{ masjid.name }} <small>{{ masjid.address }}...</small>
                                </h2>
                            </div>
                            <div class="body">
                                <ul class="list-group">
                                    <li class="list-group-item">Fajar<span class="badge bg-pink">{{ masjid.fajar|date:"g:i A"  }}</span></li>
                                    <li class="list-group-item">Zuhar<span class="badge bg-cyan">{{ masjid.zuhar|date:"g:i A"  }}</span></li>
                                    <li class="list-group-item">Asar<span class="badge bg-teal">{{ masjid.asar|date:"g:i A" }}</span></li>
                                    <li class="list-group-item">Maghrib<span class="badge bg-orange">{{ masjid.maghrib|date:"g:i A"  }}</span></li>
                                    <li class="list-group-item">Isha<span class="badge bg-purple">{{ masjid.isha|date:"g:i A"  }}</span></li>
                                    <li class="list-group-item">Juma<span class="badge bg-teal">{{ masjid.juma|date:"g:i A"  }}</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- #END# Basic Example -->
        </div>
    </section>


{% endblock %}