{% extends "portal/base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}Suggest New Masjid{% endblock %}

{% block content %}


    <section class="content">
        <div>
            <div class="block-header">
                <h2 style="color: green!important;font-size: 15px"><i class="material-icons" style="font-size: 15px">done_outline</i> <b>SUGGEST NEW MASJID ENTRY</b></h2>

            </div>
            <div class="clearfix"></div>

            <div class="row clearfix container-fluid">
                <div class="text-info" style="vertical-align: center">
                    <h5 style="font-weight: 400">You can also suggest only masjid name without namaz times even.</h5>
                </div>
                <form method="post">
                    {% csrf_token %}
                    {{ form.user_name|attr:"placeholder:  Enter Your Name (optional)"|as_crispy_field }}
                    {{ form.user_phone|attr:"placeholder:  Enter Your Phone (optional)"|as_crispy_field }}
                    {{ form.name|attr:"placeholder:  Enter Masjid Name"|as_crispy_field }}
                    {{ form.area|as_crispy_field }}
                    {{ form.address|attr:"placeholder:  Enter masjid address (optional)"|attr:"rows: 4"|as_crispy_field }}
                    {{ form.fajar|attr:"placeholder:  05:00"|as_crispy_field }}
                    {{ form.zuhar|attr:"placeholder:  13:00"|as_crispy_field }}
                    {{ form.asar|attr:"placeholder:  17:00"|as_crispy_field }}
                    {{ form.maghrib|attr:"placeholder:  19:00"|as_crispy_field }}
                    {{ form.isha|attr:"placeholder:  21:00"|as_crispy_field }}
                    {{ form.juma|attr:"placeholder:  14:00"|as_crispy_field }}
                    <button type="submit" class="btn bg-green">Send</button>
                </form>
            </div>
        <br><br><br>

        </div>
    </section>


{% endblock %}

{% block custom_script %}

{% endblock %}